In [15]:
USE TSQL2012;

## SELECT statements

In [16]:
-- 1: * will return all columns 
-- 2: xx.yy is for full qualified name (FQDN)
SELECT * FROM HR.Employees;

empid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,CEO,Ms.,1337-09-17 00:00:00.000,1381-02-11 00:00:00.000,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,"Vice President, Sales",Dr.,1340-11-30 00:00:00.000,1381-05-23 00:00:00.000,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Sales Manager,Ms.,1352-06-08 00:00:00.000,1381-01-12 00:00:00.000,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2
4,Peled,Yael,Sales Representative,Mrs.,1326-06-27 00:00:00.000,1382-02-13 00:00:00.000,5678 Old Redmond Rd.,Redmond,WA,10009,USA,(206) 555-0104,3
5,Buck,Sven,Sales Manager,Mr.,1343-12-13 00:00:00.000,1382-07-25 00:00:00.000,8901 Garrett Hill,London,NULL,10004,UK,(71) 234-5678,2
6,Suurs,Paul,Sales Representative,Mr.,1352-04-11 00:00:00.000,1382-07-25 00:00:00.000,"3456 Coventry House, Miner Rd.",London,NULL,10005,UK,(71) 345-6789,5
7,King,Russell,Sales Representative,Mr.,1349-03-08 00:00:00.000,1382-10-12 00:00:00.000,"6789 Edgeham Hollow, Winchester Way",London,NULL,10002,UK,(71) 123-4567,5
8,Cameron,Maria,Sales Representative,Ms.,1346-10-19 00:00:00.000,1382-12-15 00:00:00.000,4567 - 11th Ave. N.E.,Seattle,WA,10006,USA,(206) 555-0102,3
9,Dolgopyatova,Zoya,Sales Representative,Ms.,1354-11-07 00:00:00.000,1383-08-25 00:00:00.000,1234 Houndstooth Rd.,London,NULL,10008,UK,(71) 456-7890,5

In [17]:
-- select a subset of columns
SELECT firstname FROM HR.Employees;

firstname
Sara
Don
Judy
Yael
Sven
Paul
Russell
Maria
Zoya

In [4]:
-- removing duplicates with DISTINCT
SELECT DISTINCT country FROM HR.Employees

country
UK
USA

In [5]:
-- assigning a table alias
SELECT E.empid, firstname, lastname
FROM HR.Employees AS E;

empid,firstname,lastname
1,Sara,Davis
2,Don,Funk
3,Judy,Lew
4,Yael,Peled
5,Sven,Buck
6,Paul,Suurs
7,Russell,King
8,Maria,Cameron
9,Zoya,Dolgopyatova

In [7]:
-- sorting by column value
SELECT empid, lastname
FROM HR.Employees
ORDER BY lastname
;


-- SELECT empid, lastname
-- FROM HR.Employees
-- ORDER BY 1;

empid,lastname
5,Buck
8,Cameron
1,Davis
9,Dolgopyatova
2,Funk
7,King
3,Lew
4,Peled
6,Suurs

In [11]:
-- aliasing for renaming
SELECT empid, firstname + ' ' + lastname AS fullname
FROM HR.Employees;

empid,fullname
1,Sara Davis
2,Don Funk
3,Judy Lew
4,Yael Peled
5,Sven Buck
6,Paul Suurs
7,Russell King
8,Maria Cameron
9,Zoya Dolgopyatova

In [12]:
-- SELECT without FROM
SELECT 10 AS col1, 'ABC' AS col2;

col1,col2
10,ABC

In [13]:
-- SELECT with filters
SELECT country, YEAR(hiredate) AS yearhired
FROM HR.Employees
WHERE hiredate >= '20030101';

country,yearhired
USA,2003
UK,2003
UK,2003
UK,2004
USA,2004
UK,2004

In [21]:
-- Combine two or more selects into one result set (with same structure), Also UNION ALL
SELECT lastname, 'Male' AS Gender FROM HR.Employees where titleofcourtesy = 'Mr.'
UNION --گرفتن اجتماع بین دو مجموعه
SELECT lastname, 'Female' AS Gender FROM HR.Employees where titleofcourtesy = 'Mrs.' OR titleofcourtesy = 'Ms.';

lastname,Gender
Buck,Male
King,Male
Suurs,Male
Cameron,Female
Davis,Female
Dolgopyatova,Female
Lew,Female
Peled,Female