# Basics: Filtering and sorting

In [1]:
USE TSQL2012;

In [9]:
-- employees from the United States
select *
--تست
from hr.employees
SELECT empid, firstname, lastname, country, region, city
FROM HR.Employees
--WHERE region = 'WA';

empid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,CEO,Ms.,1337-09-17 00:00:00.000,1381-02-11 00:00:00.000,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,"Vice President, Sales",Dr.,1340-11-30 00:00:00.000,1381-05-23 00:00:00.000,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Sales Manager,Ms.,1352-06-08 00:00:00.000,1381-01-12 00:00:00.000,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2
4,Peled,Yael,Sales Representative,Mrs.,1326-06-27 00:00:00.000,1382-02-13 00:00:00.000,5678 Old Redmond Rd.,Redmond,WA,10009,USA,(206) 555-0104,3
5,Buck,Sven,Sales Manager,Mr.,1343-12-13 00:00:00.000,1382-07-25 00:00:00.000,8901 Garrett Hill,London,NULL,10004,UK,(71) 234-5678,2
6,Suurs,Paul,Sales Representative,Mr.,1352-04-11 00:00:00.000,1382-07-25 00:00:00.000,"3456 Coventry House, Miner Rd.",London,NULL,10005,UK,(71) 345-6789,5
7,King,Russell,Sales Representative,Mr.,1349-03-08 00:00:00.000,1382-10-12 00:00:00.000,"6789 Edgeham Hollow, Winchester Way",London,NULL,10002,UK,(71) 123-4567,5
8,Cameron,Maria,Sales Representative,Ms.,1346-10-19 00:00:00.000,1382-12-15 00:00:00.000,4567 - 11th Ave. N.E.,Seattle,WA,10006,USA,(206) 555-0102,3
9,Dolgopyatova,Zoya,Sales Representative,Ms.,1354-11-07 00:00:00.000,1383-08-25 00:00:00.000,1234 Houndstooth Rd.,London,NULL,10008,UK,(71) 456-7890,5

empid,firstname,lastname,country,region,city
1,Sara,Davis,USA,WA,Seattle
2,Don,Funk,USA,WA,Tacoma
3,Judy,Lew,USA,WA,Kirkland
4,Yael,Peled,USA,WA,Redmond
5,Sven,Buck,UK,NULL,London
6,Paul,Suurs,UK,NULL,London
7,Russell,King,UK,NULL,London
8,Maria,Cameron,USA,WA,Seattle
9,Zoya,Dolgopyatova,UK,NULL,London

### **Exercise 1**

Select employees from Washington State (columns `regions`)

In [6]:
-- employees that are not from Washington State
SELECT empid, firstname, lastname, country, region, city
FROM HR.Employees
WHERE city <> N'Seattle';

empid,firstname,lastname,country,region,city
2,Don,Funk,USA,WA,Tacoma
3,Judy,Lew,USA,WA,Kirkland
4,Yael,Peled,USA,WA,Redmond
5,Sven,Buck,UK,NULL,London
6,Paul,Suurs,UK,NULL,London
7,Russell,King,UK,NULL,London
9,Zoya,Dolgopyatova,UK,NULL,London

In [ ]:
-- employees that are not from Washington State, resolving the NULL problem
SELECT empid, firstname, lastname, country, region, city
FROM HR.Employees
WHERE region <> N'WA'
   OR region IS NULL;

# Filtering Character Data

In [7]:
-- regular character string
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = 'Davis';

-- Unicode character string
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'Davis';

-- employees whose last name starts with the letter D.
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

empid,firstname,lastname
1,Sara,Davis

empid,firstname,lastname
1,Sara,Davis

empid,firstname,lastname
1,Sara,Davis
9,Zoya,Dolgopyatova

## Exercise 2
Get all employees in the Sales department (use the `title` column)

# Filtering Date and Time Data

In [10]:
-- language-dependent literal
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderdate = '02/12/07';

-- language-neutral literal
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderdate = '20070212';

-- not SARG
-- Note the LHS
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE YEAR(orderdate) = 2007 AND MONTH(orderdate) = 2;

-- SARG
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderdate >= '20070201' AND orderdate < '20070301';

orderid,orderdate,empid,custid
10443,1385-11-23 00:00:00.000,8,66
10444,1385-11-23 00:00:00.000,3,5

orderid,orderdate,empid,custid
10443,1385-11-23 00:00:00.000,8,66
10444,1385-11-23 00:00:00.000,3,5

orderid,orderdate,empid,custid
10433,1385-11-14 00:00:00.000,3,60
10434,1385-11-14 00:00:00.000,3,24
10435,1385-11-15 00:00:00.000,8,16
10436,1385-11-16 00:00:00.000,3,7
10437,1385-11-16 00:00:00.000,8,87
10438,1385-11-17 00:00:00.000,3,79
10439,1385-11-18 00:00:00.000,6,51
10440,1385-11-21 00:00:00.000,4,71
10441,1385-11-21 00:00:00.000,3,55
10442,1385-11-22 00:00:00.000,3,20
10443,1385-11-23 00:00:00.000,8,66
10444,1385-11-23 00:00:00.000,3,5
10445,1385-11-24 00:00:00.000,3,5
10446,1385-11-25 00:00:00.000,6,79
10447,1385-11-25 00:00:00.000,4,67
10448,1385-11-28 00:00:00.000,4,64
10449,1385-11-29 00:00:00.000,3,7
10450,1385-11-30 00:00:00.000,8,84
10451,1385-11-30 00:00:00.000,4,63
10452,1385-12-01 00:00:00.000,8,71
10453,1385-12-02 00:00:00.000,1,4
10454,1385-12-02 00:00:00.000,4,41
10455,1385-12-05 00:00:00.000,8,87
10456,1385-12-06 00:00:00.000,8,39
10457,1385-12-06 00:00:00.000,2,39
10458,1385-12-07 00:00:00.000,7,76
10459,1385-12-08 00:00:00.000,4,84
10460,1385-12-09 00:00:00.000,8,24
10461,1385-12-09 00:00:00.000,1,46

orderid,orderdate,empid,custid
10433,1385-11-14 00:00:00.000,3,60
10434,1385-11-14 00:00:00.000,3,24
10435,1385-11-15 00:00:00.000,8,16
10436,1385-11-16 00:00:00.000,3,7
10437,1385-11-16 00:00:00.000,8,87
10438,1385-11-17 00:00:00.000,3,79
10439,1385-11-18 00:00:00.000,6,51
10440,1385-11-21 00:00:00.000,4,71
10441,1385-11-21 00:00:00.000,3,55
10442,1385-11-22 00:00:00.000,3,20
10443,1385-11-23 00:00:00.000,8,66
10444,1385-11-23 00:00:00.000,3,5
10445,1385-11-24 00:00:00.000,3,5
10446,1385-11-25 00:00:00.000,6,79
10447,1385-11-25 00:00:00.000,4,67
10448,1385-11-28 00:00:00.000,4,64
10449,1385-11-29 00:00:00.000,3,7
10450,1385-11-30 00:00:00.000,8,84
10451,1385-11-30 00:00:00.000,4,63
10452,1385-12-01 00:00:00.000,8,71
10453,1385-12-02 00:00:00.000,1,4
10454,1385-12-02 00:00:00.000,4,41
10455,1385-12-05 00:00:00.000,8,87
10456,1385-12-06 00:00:00.000,8,39
10457,1385-12-06 00:00:00.000,2,39
10458,1385-12-07 00:00:00.000,7,76
10459,1385-12-08 00:00:00.000,4,84
10460,1385-12-09 00:00:00.000,8,24
10461,1385-12-09 00:00:00.000,1,46

In [ ]:
-- Side: lets look at the data types for this table
select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='Orders'

## Exercise 3
Get all employees hired in 2002.

In [15]:
select *
from hr.employees
WHERE hiredate >= '20020101' and hiredate<'20030101'

empid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,CEO,Ms.,1337-09-17 00:00:00.000,1381-02-11 00:00:00.000,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,"Vice President, Sales",Dr.,1340-11-30 00:00:00.000,1381-05-23 00:00:00.000,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Sales Manager,Ms.,1352-06-08 00:00:00.000,1381-01-12 00:00:00.000,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2

# Sorting Data

In [16]:
-- query with no ORDER BY doesn't guarantee presentation ordering
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA';

empid,firstname,lastname,city,birthmonth
1,Sara,Davis,Seattle,12
2,Don,Funk,Tacoma,2
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
8,Maria,Cameron,Seattle,1

In [17]:

-- Simple ORDER BY example
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city;

empid,firstname,lastname,city,birthmonth
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
8,Maria,Cameron,Seattle,1
1,Sara,Davis,Seattle,12
2,Don,Funk,Tacoma,2

In [18]:

-- use descending order
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city DESC;--معکوس سورت می کند

empid,firstname,lastname,city,birthmonth
2,Don,Funk,Tacoma,2
1,Sara,Davis,Seattle,12
8,Maria,Cameron,Seattle,1
4,Yael,Peled,Redmond,9
3,Judy,Lew,Kirkland,8

In [19]:

-- order by multiple columns
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city, empid;

empid,firstname,lastname,city,birthmonth
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
1,Sara,Davis,Seattle,12
8,Maria,Cameron,Seattle,1
2,Don,Funk,Tacoma,2

In [ ]:

-- order by ordinals (bad practice)
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY 4, 1;

In [20]:

-- change SELECT list but forget to change ordinals in ORDER BY
SELECT empid, city, firstname, lastname, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY 4, 1;--بر اساس ستون چهارم و اول سورت کن

empid,city,firstname,lastname,birthmonth
8,Seattle,Maria,Cameron,1
1,Seattle,Sara,Davis,12
2,Tacoma,Don,Funk,2
3,Kirkland,Judy,Lew,8
4,Redmond,Yael,Peled,9

In [21]:

-- order by elements not in SELECT
SELECT empid, city
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY birthdate;

empid,city
4,Redmond
1,Seattle
2,Tacoma
8,Seattle
3,Kirkland

In [ ]:
-- following fails
SELECT DISTINCT city
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY birthdate;

In [ ]:
-- following succeeds
SELECT DISTINCT city
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city;

In [ ]:
-- can refer to column aliases asigned in SELECT
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY birthmonth;

## Exercise 4
Order emplyeess by the year they are hired, and those hired in the same year should be orderd by their last name.

In [22]:
-- NULLs sort first
SELECT orderid, shippeddate
FROM Sales.Orders
WHERE custid = 20
ORDER BY shippeddate;

orderid,shippeddate
11008,NULL
11072,NULL
10258,1385-05-01 00:00:00.000
10263,1385-05-09 00:00:00.000
10351,1385-08-29 00:00:00.000
10368,1385-09-11 00:00:00.000
10382,1385-09-25 00:00:00.000
10390,1385-10-05 00:00:00.000
10403,1385-10-19 00:00:00.000
10402,1385-10-20 00:00:00.000
10430,1385-11-14 00:00:00.000
10442,1385-11-29 00:00:00.000
10514,1386-02-26 00:00:00.000
10571,1386-04-13 00:00:00.000
10595,1386-04-23 00:00:00.000
10633,1386-05-27 00:00:00.000
10667,1386-06-28 00:00:00.000
10698,1386-07-25 00:00:00.000
10764,1386-09-17 00:00:00.000
10773,1386-09-25 00:00:00.000
10776,1386-09-27 00:00:00.000
10771,1386-10-12 00:00:00.000
10795,1386-10-30 00:00:00.000
10836,1386-11-01 00:00:00.000
10854,1386-11-16 00:00:00.000
10895,1386-12-04 00:00:00.000
10979,1387-01-12 00:00:00.000
10968,1387-01-13 00:00:00.000
10990,1387-01-19 00:00:00.000
11017,1387-02-01 00:00:00.000

# Filtering Data with TOP

In [23]:
-- return the three most recent orders
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11077,1387-02-17 00:00:00.000,65,1
11076,1387-02-17 00:00:00.000,9,4
11075,1387-02-17 00:00:00.000,68,8

In [24]:

-- can use percent
SELECT TOP (1) PERCENT orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11074,1387-02-17 00:00:00.000,73,7
11075,1387-02-17 00:00:00.000,68,8
11076,1387-02-17 00:00:00.000,9,4
11077,1387-02-17 00:00:00.000,65,1
11070,1387-02-16 00:00:00.000,44,2
11071,1387-02-16 00:00:00.000,46,1
11072,1387-02-16 00:00:00.000,20,4
11073,1387-02-16 00:00:00.000,58,2
11067,1387-02-15 00:00:00.000,17,1

In [25]:

-- can use expression, like parameter or variable, as input
DECLARE @n AS BIGINT = 5;

SELECT TOP (@n) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11074,1387-02-17 00:00:00.000,73,7
11075,1387-02-17 00:00:00.000,68,8
11076,1387-02-17 00:00:00.000,9,4
11077,1387-02-17 00:00:00.000,65,1
11070,1387-02-16 00:00:00.000,44,2

In [ ]:
-- no ORDER BY, ordering is arbitrary
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders;

In [ ]:

-- non-deterministic ordering even with ORDER BY since ordering isn't unique
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

In [27]:

-- return all ties
SELECT TOP (5) WITH TIES orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11077,1387-02-17 00:00:00.000,65,1
11076,1387-02-17 00:00:00.000,9,4
11075,1387-02-17 00:00:00.000,68,8
11074,1387-02-17 00:00:00.000,73,7
11073,1387-02-16 00:00:00.000,58,2
11072,1387-02-16 00:00:00.000,20,4
11071,1387-02-16 00:00:00.000,46,1
11070,1387-02-16 00:00:00.000,44,2

In [ ]:

-- break ties
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC, orderid DESC;

## Exercise 5
- Get the last 2 hired employees. 
- Get the last 2 hired employees considering only the year of hiring, with ties.