In [1]:
USE TSQL2012;

## Cross join (Cartesian product)

In [2]:
-- a cross join returning a row for each day of the week
-- and shift number out of three
SELECT D.n AS theday, S.n AS shiftno  
FROM dbo.Nums AS D
  CROSS JOIN dbo.Nums AS S
WHERE D.n <= 7
  AND S.N <= 3
ORDER BY theday, shiftno;

theday,shiftno
1,1
1,2
1,3
2,1
2,2
2,3
3,1
3,2
3,3
4,1
4,2
4,3
5,1
5,2
5,3
6,1
6,2
6,3
7,1
7,2
7,3

# Inner Join

We have the following two tables.

In [ ]:
SELECT TOP(10) supplierid, companyname AS supplier, country
FROM Production.Suppliers

SELECT TOP(10) supplierid, productid, productname, unitprice
FROM Production.Products

We want to get all suppliers from Japan and products they supply.

In [3]:
-- suppliers from Japan and products they supply
-- suppliers without products not included
SELECT
  S.companyname AS supplier, S.country,
  P.productid, P.productname, P.unitprice
FROM Production.Suppliers AS S
  INNER JOIN Production.Products AS P
    ON S.supplierid = P.supplierid
WHERE S.country = N'Japan';

-- same meaning
SELECT
  S.companyname AS supplier, S.country,
  P.productid, P.productname, P.unitprice
FROM Production.Suppliers AS S
  INNER JOIN Production.Products AS P
    ON S.supplierid = P.supplierid
    AND S.country = N'Japan';

supplier,country,productid,productname,unitprice
Supplier QOVFD,Japan,9,Product AOZBW,97.00
Supplier QOVFD,Japan,10,Product YHXGE,31.00
Supplier QOVFD,Japan,74,Product BKAZJ,10.00
Supplier QWUSF,Japan,13,Product POXFU,6.00
Supplier QWUSF,Japan,14,Product PWCJB,23.25
Supplier QWUSF,Japan,15,Product KSZOI,15.50

supplier,country,productid,productname,unitprice
Supplier QOVFD,Japan,9,Product AOZBW,97.00
Supplier QOVFD,Japan,10,Product YHXGE,31.00
Supplier QOVFD,Japan,74,Product BKAZJ,10.00
Supplier QWUSF,Japan,13,Product POXFU,6.00
Supplier QWUSF,Japan,14,Product PWCJB,23.25
Supplier QWUSF,Japan,15,Product KSZOI,15.50

## Exercise 1
Create a table of empoyees and their manager. Do not include emplyees with no manager e.g. CEO.

Hint: You can join employee table with itself.

## Outer Join

In [ ]:
-- suppliers from Japan and products they supply
-- suppliers without products included
SELECT
  S.companyname AS supplier, S.country,
  P.productid, P.productname, P.unitprice
FROM Production.Suppliers AS S
  LEFT OUTER JOIN Production.Products AS P
    ON S.supplierid = P.supplierid
WHERE S.country = N'Japan'; -- try this without WHERE clause

-- return all suppliers
-- show products for only suppliers from Japan
-- note: we are bringing all suppliers (left table) but joining only with products from Japan (right table)
-- i.e. for the rest of suppliers we do not have their products.
SELECT
  S.companyname AS supplier, S.country,
  P.productid, P.productname, P.unitprice
FROM Production.Suppliers AS S
  LEFT OUTER JOIN Production.Products AS P
    ON S.supplierid = P.supplierid
   AND S.country = N'Japan';

## Exercise 2

Repeat exercise 1, but this time include emplyees with no manager.

## Exercise 3
In the above supplier production join, include product category from `Production.Categories` table with another inner join.